#page {
    height: auto;
    width: 100vw;
    background-color: #8ecae6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#displayArea{
    width: 90%;
}
#displayEntries{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}